{%extends 'base.html'%}
{%block content%}
<div class="container position-absolute top-50 start-50 translate-middle w-50 p-3 ">
    <h1 class="text-light text-center">Kliento registracija</h1>
    <form method="post">
        {{form.hidden_tag()}}
        <div class="container text-center">
            <div class="row gy-3 row-cols-1">
                <div class="col">
                    <div class="form-group">
                        {{form.vardas.label(class = " text-light form-control-label")}}
                        {{form.vardas(class = "form-control")}}

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{form.pavarde.label(class = "text-light form-control-label")}}
                        {{form.pavarde(class = "form-control")}}

                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="form-group">
                        {{form.el_pastas.label(class = "text-light form-control-label")}}
                        {{form.el_pastas(class = "form-control")}}

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{form.telefonas.label(class = "text-light form-control-label")}}
                        {{form.telefonas(class = "form-control")}}

                    </div>
                </div>


                <div class="form-group">
                    {{form.slaptazodis.label(class = "text-light form-control-label")}}
                    {{form.slaptazodis(class = "form-control")}}

                </div>
                <br>
                <div class="form-group">
                    {{form.patvirtintas_slaptazodis.label(class="text-light form-control-label")}}
                    {{form.patvirtintas_slaptazodis(class="form-control")}}
                </div>
            </div>
            <hr>
            <div class="form-group ">

                {{form.submit(class = 'btn btn-dark d-grid gap-5 col-6 mx-auto')}}
                <br>
                <a class="btn btn-dark d-grid gap-5 col-6 mx-auto " href="/" role="button">Grįžti atgal</a>

            </div>
        </div>
</div>
</form>
{%endblock%}