{%extends 'base.html'%}
{%block content%}
<div class="container text-light">
    <h1 class="animate__animated animate__fadeInLeft">Info apie programą</h1>
    <div class="animate__animated animate__fadeInRight">
        <p>Sveiki, ši programa skirta restoranų savininkams pridėti savo restoraną į sistemą, kad prisiregistravę
            klientai galėtų patogiau užsirezervuoti staliuką, maistą, bei gėrimus pasirinktame restorane</p>
        <br>
        <p>Programą kūrė: Darius Kustinskij VIGI-25</p>
    </div>
</div>
{%endblock%}