{% extends 'base.html' %}
{% block content %}
<h1>Jūsų rezervuota: {{staliukas.staliukas}}  {{staliukas.rezervuoja}}</h1>
<h1 class="text-light text-center">Rezervacijos kūrimas</h1>
<div class="container text-center w-50 p-1">
<form method="post">

    {{form.hidden_tag()}}
    <div class="form-group">
        {{form.staliukas.label(class = " text-light form-control-label")}}
        {{form.staliukas(class = "form-control")}}

    </div>
    <div class="form-group">
        {{form.rezervuoja.label(class = " text-light form-control-label")}}
        {{form.rezervuoja(class = "form-control")}}

    </div>

    <hr>
    <div class="form-group ">

        {{form.submit(class = 'btn btn-dark d-grid gap-5 col-6 mx-auto')}}
        <br>
        <a class="btn btn-dark d-grid gap-5 col-6 mx-auto " href="/kliento_main" role="button">Grįžti atgal</a>

    </div>


</form>
</div>

{% endblock %}
